<div class="container-xl border border-2 py-2">
  <div class="bg-secondary pt-4">
    <!-- <button class="btn btn-success p-1 m-2">Add Employee</button> -->
    <div class="row">
      <div class="col-sm-6">
        <h4><b>Manage Employees</b></h4>
      </div>
    </div>
  </div>
  <button
    class="btn btn-success my-2"
    [disabled]="isAddEmpOpen"
    (click)="openAddEmp()"
  >
    Add Emp
  </button>
  @if(isAddEmpOpen) {
  <router-outlet></router-outlet>
  } @else {
  <div class="border border-2">
    <table class="table table-bordered table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Sr No.</th>
          <th scope="col">Employee Name</th>
          <th scope="col">Employee Id</th>
          <th scope="col">Mobile-No.</th>
          <th scope="col">Email</th>
          <th scope="col">Position</th>
          <th scope="col">Hobbies</th>
          <th scope="col">Image</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" style="width: 5%">1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  }
</div>
